*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    width: max-content;
}

.box {
    height: 120px;
    width: 120px;
    border: 5px solid black;
}
.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 100px;
}
.box1,.box4,.box7 {
    border-left: none;
}

.box1,.box2,.box3 {
    border-top: none;
}

.box3,.box6,.box9 {
    border-right: none;
}

.box7, .box8, .box9 {
    border-bottom: none;
}

#title {
    margin-top: -160px;
}

.box:hover {
    background-color: lightyellow;
}

#startGame {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: ease-in-out .1s;
    position:absolute;
}

#startGame:hover {
    padding: 16px;
    font-size: 25px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#githubpng {
    height: 50px;
    width: 50px;
    transition: ease-in-out .3s;
}

#githubpng:hover {
    height: 60px;
    width: 60px;
}

#tylerDurdenPic,#theNarratorPic {
    height: 200px;
    width: 240px;
    box-shadow: 5px 5px;
}

.profiles {
    display: flex;
    gap: 10px;
}

.pics {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pics > input {
    border-radius: 10px;
    border: 3px solid black;
    padding: 7px;
}
.pics > input:focus {
    border: 4px solid red;

}

#submitBtn {
    height: 50px;
    width: 100px;
    border: 5px solid black;
    background-color: white;
    cursor: pointer;
    font-size: 1.1rem;
    transition: ease-in-out .1s;
}
#submitBtn:hover {
    height: 50px;
    width: 120px;
    border: 5px solid red;
}
.playerCreation {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
#boxPic1 , #boxPic2 {
    position: relative;
    height:110px;
    width: 110px
}