*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    width: max-content;
}

.box {
    height: 120px;
    width: 120px;
    border: 5px solid black;
}
.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 100px;
}
.box1,.box4,.box7 {
    border-left: none;
}

.box1,.box2,.box3 {
    border-top: none;
}

.box3,.box6,.box9 {
    border-right: none;
}

.box7, .box8, .box9 {
    border-bottom: none;
}

#title {
    margin-top: -160px;
}

.box:hover {
    background-color: lightyellow;
}

#startGame {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

#startGame:hover {
    padding: 16px;
    font-size: 25px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#githubpng {
    height: 50px;
    width: 50px;
}

#githubpng:hover {
    height: 60px;
    width: 60px;
}